@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
    ViewData["Page Heading"] = "The Joel Hilton Film Collection";
}

<div class="container d-flex justify-content-lg-center p-3 bg-light">
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>