@{
    ViewData["Title"] = "My Podcasts";
    ViewData["Page Heading"] = "My Podcasts";
}

<h2 class="text-center">Follow this link to see my podcasts:</h2>
<div class="d-flex justify-content-center"><a href="https://baconsale.com/">My Podcasts</a></div>