<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <h1 class="text-center">@ViewData["Page Heading"]</h1>
    <div class="container bg-light p-2">
        <h3 class="text-center">Menu</h3>
        <div class="container border-dark flex-column justify-content-center">
            <div class="container p-1 mx-auto text-center"><a asp-controller="Home" asp-action="Index">Home</a></div>
            <div class="container p-1 mx-auto text-center"><a asp-controller="Home" asp-action="EnterMovie">Enter a Movie</a></div>
            <div class="container p-1 mx-auto text-center"><a asp-controller="Home" asp-action="ViewPodcasts">My Podcasts</a></div>
        </div>
    </div>
    <br />
    <div>
        @RenderBody()
    </div>

</body>
</html>
